/* src/App.css */

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Set height to fill the viewport */
}

h1 {
  margin-bottom: 20px; /* Add some spacing below the heading */
  text-align: center; /* Center text */
}

h2 {
  margin-bottom: 15px; /* Add some spacing below the subheading */
  text-align: center; /* Center text */
}

h3 {
  margin-bottom: 10px; /* Add some spacing below the sub-subheading */
  text-align: center; /* Center text */
}

p {
  margin-bottom: 10px; /* Add some spacing below paragraphs */
  text-align: center; /* Center text */
}
